<div class="panel">
	<div class="panel-body">
	<% if @other.avatar.present? %>
       		 <%= image_tag @other.avatar.url(:thumb), id: "user-small-avatar" %>
    <% end %>
		<strong><%= message.user.first_name %></strong>

		<span class="pull-right"><i class="fa fa-comment-o" id="margin-minor-adjust-2" aria-hidden="true"></i><%= message.message_time %></span>
		<br>
		<div class="row-space-2" id="margin-minor-adjust">
			<%= message.content %>
		</div>
	</div>
</div>