<div class="nested-fields">
  <div class="field">
    <%= f.label :first_name %>
    <br/>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <br/>
    <%= f.date_select :date_of_birth %>
  </div>
</div>